*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.screen-play{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}
    
    
    

.side-bar{
    background-color: black;
    display: flex;
    width: 50px;
    height: 100%;
}

.bottom-nav-play{
    background-color: #282828;
    height: 80px;
    width: 100%;
    display: flex;
}


.main-screen{
    width: 100% ;
    height: 100%;
    background-color: #141922;
    color: white;

}

.upgrade-bar{
    height: 60px;
    background-color: #05070c;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}

.upgrade-bar button{
    border: none;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
    padding: 7px 30px;
    color:white;
    font-size: 15px;
    font-weight: 600;
    
}
.upgrade-bar a{
    text-decoration: none;
    color: white;
}



/* LIST BAR */

/* .list-bar{
    display: flex;
} */


.list-bar ul{
    text-align: center;
    padding-top: 20px;
}

.list-bar ul li{
    text-decoration:none ;
    display:inline-block;
    padding: 0px 20px;
    color: #878787;
}

.list-bar ul li a{
    text-decoration: none;
    color: #878787;
    font-weight: 600;
}


        /* Title-playlist */

.title-playlist-screen{
    padding-left: 20px;
    padding-top: 35px;
}

.playlist-1-boxes{
    display: flex;
    flex-wrap: wrap;

}

.playlist-1-boxes div{
    width: calc(100% / 2);
    background-color: yellow;
    height: calc(100% / 2);
}





.bottom-left{
    width: 30%;
    display: flex;
    align-items: center;
}

.bottom-left-immage{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.bottom-left-immage img{
    width: 100%;
}

.bottom-left div:nth-child(2){
    padding: 0px 20px;
}
.bottom-left h5{
    color: white;
}
.bottom-left p{
    color:#797575;
}
.bottom-left i{
    color: #797575;
}



.bottom-middle{
    width: 40%;
    max-width: 500px;
    text-align: center;
    flex-direction: column;
    color: white;
}

.bottom-middle-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}


.bottom-middle i{
    padding: 0px 10px;
}

.bottom-middle .fa-play-circle{
    font-size: 26px;
}


.song-bar{
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-bar span{
    font-size: 12px;
}


.duration-bar{
    width: 70%;
    height: 5px;
    background-color:  #797575;
    border-radius: 2px;
    margin: 0px 5px;
    
    
    
}


.bottom-right{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.bottom-right i{
    padding: 0px 10px;
    color: white;
}

.bottom-right-volume{
    width: 40%;
    height: 5px;
    background-color:  #797575;
    border-radius: 2px;
    /* margin: 0px 5px; */
}

